<%= form_with(model: geography, local: true) do |form| %>
  <% if geography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geography.errors.count, "error") %> prohibited this geography from being saved:</h2>

      <ul>
      <% geography.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
