<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @geography.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @geography.longitude %>
</p>

<%= link_to 'Edit', edit_geography_path(@geography) %> |
<%= link_to 'Back', geographies_path %>
